*
analysis
analysis/*
.snakemake
.idea
.pyc
resources
resources/*
!analysis/README.md
!config
!config/*
!workflow
!workflow/**
.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!LICENSE
!README.md
!Dockerfile
!environment.yml
